<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome, Register a pet!</h1>
    <pre>The goal is to create a one-stop solution for pet owners to identify 
and register their pets within a global pet database, help return lost
pets to their homes, organize travel, save pet documents and maintain
health records, schedule vet visits, communicate, order favorite pet
munchies and more!
    </pre>
    <hr>
    <a href="/reg-form">Register | </a>
    <a href="/pet-list">Registered Pets | </a>
</body>
</html>